@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

.Card{
    font-family: 'Roboto Condensed', sans-serif;
    width: 256px;
    min-height: 340px;
    background-color:rgb(61, 61, 240);
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.disappear{
    animation: disappear 0.7s ease-out forwards;
}
@keyframes disappear{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.card:hover{
    border: 1px solid yellow;
}

.card.h1{
    color: orange;
    font-size: 1.2rem;
    text-align: center;
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icons{
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#trashDelete:hover{
    color: red;
}

#editIcon:hover{
    color: yellowgreen;
}

.conteudoCard{
    text-align: center;
    font-size: 1rem;
}

.conteudoCard .price{
    font-size: 1.1rem;
}