.divForm{
    width: 100%;
    height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.divForm form{
    display: flex;
    flex-direction: column;
    width:40%;
}
.divForm label{
    margin-block: 12px;
    font-size: 25px;
}
.divForm form button{
    background-color: blueviolet;
    color: wheat;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin: 20px auto;
    font-size: 16px;
    font-weight: 700;
}
.divForm form button:hover{
    cursor: pointer;
    box-shadow: purple -2px 0px 10px 5px;
}
.divForm form textarea{
    min-width: 100%;
    max-width: 100%;
}