body{
  margin: 0;
  color: white;
  background-color: black;
  overflow-x: hidden;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}